#back{

    background-attachment: fixed;

}

.header{

    padding: 15px;
    background-color: whitesmoke;
    height: 170px;
    border-style: outset;
    border-radius: 10px;
    margin-bottom: 0px;
    border-color: blue;
    margin: 10px 10px 5px;

}

header > h1{
    
    margin: 10px 10px;
    color: rgb(6, 1, 11);
    font-family: fantasy;
    width: 100px;
    padding: 1px;

}


header > button{

    font-family: 'fantasy', 'Chalkduster' ;
    padding: 18px 28px;
    font-size: 14px;
    border-style: outset;
    background: gold;
    color: black;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin: 125px 0px 0px 110px;
    text-decoration: none;
    float: inline-start;
    margin-bottom: 20px;
    
    }


button:hover{

    
    text-decoration: none;
    cursor: pointer;
	background-color: white;
	transform: scale(0.8);

}


#img{

    margin: 0px auto;
    float: inline-start;
    border-style: outset;
    border-radius: 10px;
    border-color: blue;
    object-position: auto;
    padding: 0px;

}

#img2{

  
    float: inline-end;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 30px;

}

#bt{

    font-family: 'fantasy', 'Chalkduster' ;
    padding: 18px 28px;
    font-size: 14px;
    border-style: outset;
    background: gold;
    color: black;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin: 40px 0px 0px 160px;
    text-decoration: none;
    float: inline-start;
    
}

footer{

    margin-top: 10px;
    padding: 10px;
    border-style: outset;
    border-radius: 15px;
    border-color: blue;
    background-color: white;

}


.modo-escuro {
    background-color: black; 
    color: #fff; 
}


header.modo-escuro {
    background-color: black; 
    color: #fff;
}

footer.modo-escuro {
    background-color: black;
    color: #fff;
}

.div.modo-escuro {
    background-color: black; 
    color: #fff;
}

/*--------------INICIO---------------*/

.div{

    
    padding: 50px;
    background-color: whitesmoke;
    height: 600px;
    border-style: outset;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
    border-color: blue;


}